@font-face {
  font-family: "bork";
  src: url("/fonts/77cfb2c.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "akzidenz-extended";
  src: url("/fonts/85a1406.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "akzidenz-extended";
  src: url("/fonts/85a1406.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "helvetica";
  src: url("/fonts/734abe9.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "helvetica";
  src: url("/fonts/42ec2b0.woff2") format("woff2");
}

@font-face {
  font-family: "element-icons";
  src: url("/fonts/535877f.woff") format("woff"),
       url("/fonts/732389d.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Site Background */
  --siteBg: #3A3331;
  
  /* Product Tile Variables */
  --product-tile-title-color: #fff;
  --product-tile-price-color: #9d9390;
  --product-tile-background: #26211e;
  --product-tile-category-logo-opacity: 0.3;
  
  /* Product Carousel Variables */
  --product-carousel-title-color: #fff;
  --product-carousel-item-quantity-color: #9d9390;
  --product-carousel-button-border-color: #fff;
  
  /* Product Preview Variables */
  --product-preview-bg-color: #3a3330;
  --product-preview-icon-color: #fff;
  --product-preview-features-color: #fff;
  --product-preview-features-border-color: rgba(255, 255, 255, 0.1);
  
  /* Product Delivery Variables */
  --product-delivery-bg-color: #2e2826;
  --product-delivery-text-color: #9d9390;
  --product-delivery-value-color: #fff;
  
  /* Product Review Variables */
  --product-review-bg-color: #3a3330;
  
  /* Product Specification Variables */
  --product-specification-bg-color: url("//st.bork.ru/images/characteristics_bg_2.jpg");
  --product-specification-font-color: #2e2826;
  --product-specification-border-color: rgba(255, 255, 255, 0.1);
  --product-specification-expand-btn-color: #8f8480;
  
  /* Product Special Offer Variables */
  --product-special-offer-bg-color: #2e2826;
  --product-special-offer-font-color: #fff;
  --product-special-offer-conditions-font-color: #9d9390;
  
  /* Product Award Variables */
  --product-award-bg-color: #211b19;
  
  /* Product Main Gallery Variables */
  --product-main-gallery-bg-color: #2e2826;
  
  /* Floating Buy Button Variables */
  --floating-buy-button-bg-color: rgba(24, 21, 20, 0.8);
  
  /* Buy One Click Variables */
  --buy-one-click-text-color: #fff;
  --buy-one-click-border-color: #9d9390;
  --buy-one-click-border-color-hover: #fff;
}

body {
  margin: 0;
  background-color: #3A3331;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* Защита от копирования фото: отключить правый клик, перетаскивание, выделение */
.protect-image,
.protect-image img,
img.protect-image {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.protect-image img,
img.protect-image {
  pointer-events: none;
}
