spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/ihome24
    username: ihome24
    password: ihome242026
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    drop-first: false
    should-run: true

server:
  port: 8080